// Colors
$primary-color:              #00C2F0;
$primary-color-light:        #7fe4fd;
$primary-color-dark:         #059DC3;
$primary-color-darker:       #0187a9;

$secondary-color:            #E8126B;
$secondary-color-light:      #f73183;
$secondary-color-dark:       #b90e55;

$danger-color:               #ca0c3d;

$ero-gray-dark:              #252A2B;
$ero-gray-semidark:          #6b737b;
$ero-gray:                   #8C9AA8;
$ero-gray-light:             #c5ccd3;
$ero-gray-lighter:           #e2e6e9;
$ero-gray-lightest:          #f0f0f0;

$online:  #43C609;
$away:    #FF922E;
$offline: $ero-gray;