<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body style="margin:0px;background-color: rgb(242, 242, 242)">
    <table style="direction:ltr;min-width:320px;text-align:center;color:#292c2e;font-family:-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2">
      <tbody>

        <tr>
          <td style="padding:5px 0;color:#fff" bgcolor="#00C2F0"><img style="vertical-align:top;font-size:28px;color:#fff" src="https://i.imgur.com/95PJqDD.png" alt="Erotrip" width="170">
            <div style="display:none;font-size:0;line-height:0;max-height:0;max-width:0;width:0;overflow:hidden;vertical-align:top"><img style="display:none;font-size:0;line-height:0;max-height:0;max-width:0;width:0;vertical-align:top;color:#fff" src="https://i.imgur.com/95PJqDD.png" alt="Erotrip" width="0" height="0"></div>
          </td>
        </tr>

        <tr>
          <td style="padding:0 20px;text-align:center">
            <table style="max-width:640px;min-width:320px;margin:0 auto" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="text-align:center;color:#333844;font-size:16px">
                            <table style="padding:8%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>

                              <!-- YIELD -->
                              <%= yield %>
                              <!-- MOCKED YIELD -->

                            </tbody>
                          </table>
                          <table>
                            <tbody>
                              <tr>
                                <td style="height:15px" height="15"> </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="padding:0 0 4%">
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td style="text-align:center">
                                          <div style="color:#000;display:block;font-size:14px;border-bottom:10px solid transparent">Obserwuj nas</div>

                                          <a href="http://www.facebook.com/" target="_blank"><img style="vertical-align:middle" src="https://i.imgur.com/Y4H4ekW.png" alt="Facebook" width="42" height="42" border="0"></a>

                                          <!-- <a href="http://twitter.com/Erotrip/" target="_blank"><img style="vertical-align:middle" src="http://badoocdn.com/v2/-/-/i/hotornot_v2/email3/sz___size__/icon-tw@2x.35611105367b32824f4d.png" alt="Twitter" width="42" height="42" border="0"></a>

                                          <a href="https://instagram.com/badoo/" target="_blank"><img style="vertical-align:middle" src="http://badoocdn.com/v2/-/-/i/hotornot_v2/email3/sz___size__/icon-ig@2x.4b4374996009d01dd715.png" alt="Instagram" width="42" height="42" border="0"></a>

                                          <a href="http://www.youtube.com/user/badoo" target="_blank"><img style="vertical-align:middle" src="http://badoocdn.com/03861c76ff1900124f00000052234094040031000000013b4d2f-0/v2/-/-/i/hotornot_v2/email3/sz___size__/icon-yt@2x.9aa6ecd67ad902186851.png" alt="YouTube" width="42" height="42" border="0"></a></td> -->
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td style="color:#949494;font-size:13px;line-height:18px;padding:25px 0 0;text-align:justify">Nadawcą tej wiadomości jest Erotrip (adres korespondencyjny poniżej). Jeśli nie chcesz otrzymywać więcej wiadomości od Erotrip, <a style="color:#999999" href="" target="_blank">kliknij tutaj</a>. <span>Firma Erotrip jest zarejestrowana pod numerem 1111111 z siedzibą przy XXX XXX XXX, <a style="color:#999999" href="" target="_blank">kolejny link</a>.</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
